<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserHbpMapper">
    <update id="update">
        update user_healthyinfo
        <set>
            <if test="sbp != null and sbp != ''">
                sbp = #{sbp},
            </if>
            <if test="dbp != null and dbp != ''">
                dbp = #{dbp},
            </if>
            <if test="heart != null and heart != ''">
                heart = #{heart},
            </if>
            <if test="writeType != null and writeType != ''">
                writetype = #{writeType},
            </if>
            <if test="situation != null and situation != ''">
                situation = #{situation},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <!--    根据id查询用户预约信息，使用resultMap进行结果集的封装 -->
    <select id="list" resultMap="userHbpMap">
        SELECT
            u.*,
            uu.name userName
        FROM user_healthyinfo u left join user_info uu on u.userid = uu.id
        order by update_time desc
    </select>
    <select id="listPage" resultMap="userHbpMap">
        select
        u.*,
        uu.name userName
        from user_healthyinfo u left join user_info uu on u.userid = uu.id
        <where>
            <if test="userId!= null and userId!= ''">
                u.userid = #{userId}
            </if>
            <if test="begin!= null and end!= null">
                and u.write_time between #{begin} and #{end}
            </if>
        </where>
        order by u.update_time desc
    </select>
    <!--    property:属性名，column:数据库字段名-->
    <resultMap id="userHbpMap" type="com.itheima.pojo.UserHbp">
        <id property="id" column="id"/>
        <result property="userid" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="sbp" column="sbp"/>
        <result property="dbp" column="dbp"/>
        <result property="heart" column="heart"/>
        <result property="writeType" column="writetype"/>
        <result property="situation" column="situation"/>
        <result property="writeTime" column="write_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>